
.orderview {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.orderview .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderview .footer button {
  width: 160px;
  height: 50px;
  margin: 15px;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

#btncancel {
  background-color: red;
}
